*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: "Nunito",sans-serif;
    background: #80C8BC;
  }
  
  .input{
    text-align: center;
    margin: 100px auto;
  }
  
  input[type="submit"]{
    padding: 15px 30px;
    background:#2A7A78 ;
    border: none;
    border-radius: 16px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
    color: #17242B;
    
  }
  
  .input input[type="text"]{
    width: 600px;
    height: 55px;
    padding: 5px 10px;
    background: #E0F2F0;
    border: none;
    border-radius: 16px;
    font-family: "Nunito",sans-serif;
    font-weight:bold;
    font-size: 20px;
  }
  
  .card{
    width: 50%;
    background: #e7e7e7;
    height: 40vh;
    margin: 50px auto;
    border-radius: 16px;
    color: #17242B;

  }
  
  #name{
    padding: 5px 0;
    text-align: center;
  }
  
  .card p{
    text-align: center;
    margin:40px 0;
    font-size:20px;
  }